<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function(){
                $("#datepicker").datepicker();
                $('#search').click(function(){
                    window.location.replace(window.location.origin+window.location.pathname+"?title="+$('#search_post').val())
                })
                $('#filter').click(function(){
                    window.location.replace(window.location.origin+window.location.pathname+"?date="+$( "#datepicker" ).val()+"&&vote="+$("#vote").val())
                })
            })
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts  %}
        
        {% endblock %}
    </body>
</html>
